/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
}

body {
    color: #555;
    position: relative;
    height: 100vh;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.right { 
    display: flex; 
}
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 55%;
    min-height: 313px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back_mobile.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.budget {
    margin: auto;
    height: 100%;
    width: 90%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.budget__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    text-shadow: 0 2px 5px black;
}

.budget__value {
    font-weight: 300;
    font-size: 3.25rem;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0 2px 5px black;
}

.budget__income,
.budget__expenses {
    height: 65px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 100px;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.budget__income {
    background-color: #28B9B5;
}

.budget__expenses {
    background-color: #FF5049;
}

.budget__income--text,
.budget__expenses--text {
    font-size: 1.5rem;
    color: #444;
    margin: auto 0;
}

.budget__income--value,
.budget__expenses--value {
    margin: auto;
    font-size: 1.5rem;
}

.budget__income--percentage,
.budget__expenses--percentage {
    font-size: 1rem;
    padding: 0 3px;
    margin: auto;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
    margin-left: 3px;
}


/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    height: 150px;
}

.add__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    height: 100%;
}

.add__type {
    border-radius: 50px;
    border: 1px solid #e7e7e7;
    font-size: 2rem;
    text-indent: 1rem;
    color: inherit;
    background-color: #fff;
    font-weight: 300;
    transition: border 0.3s;
    text-align: center;
    width: 75%;
    height: 80%;
    margin: auto;
    grid-column: 1/2;
    grid-row: 2/3;
}

.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 2rem;
    border-radius: 50px;
    transition: border 0.3s;
    text-align: center;
    margin: auto;
    width: 75%;
    height: 80%;
}

.add__description::placeholder,
.add__value::placeholder {
    color: rgb(173, 173, 173);
    font-weight: lighter;
}

.add__description { 
    grid-column: 1/4;
    grid-row: 1/2;

}

.add__value { 
    grid-column: 2/3;
    grid-row: 2/3;
}

.add__btn {
    font-size: 3.5rem;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    grid-column: 3/4;
    grid-row: 2/3;
}

.add__btn:active { transform: translateY(2px); }

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus { outline: none; }

/***** LISTS *****/
.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 60px 0;
    font-size: 2rem;
}
.income,
.expenses {
    margin: 60px 0;
}


h2 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
}

.income__title { 
    color: #28B9B5;
    text-align: center;
}

.expenses__title { 
    color: #FF5049;
    text-align: center;
}

.item {
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 5px 0;
}

.item__delete {
    margin: auto 0;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__value {
    transition: all 0.3s ease;
}

.item__percentage {
    margin: auto 0 auto 20px;
    transition: transform 0.3s ease;
    font-size: 1rem;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
}

.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}

.item__delete--btn {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    opacity: 0;
    transition: all .3s ease;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { opacity: 1; }
.item:hover .item__value { transform: translateX(-50px); }
.item:hover .item__percentage { transform: translateX(-50px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }



/* =========================== Media Query ========================== */


@media (min-width: 768px) {
    .top {
        height: 50%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back.png);
    }
    .budget__title {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    .budget__value {
        font-size: 4.5rem;
    }

    .budget__income,
    .budget__expenses {
        height: 75px;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        text-transform: uppercase;
        border-radius: 100px;
    }
    .budget__income--text,
    .budget__expenses--text,
    .budget__income--value,
    .budget__expenses--value {
        font-size: 2rem;
    }

    .budget__income--percentage,
    .budget__expenses--percentage {
        font-size: 1rem;
    }

    .add {
        height: 75px;
    }
    .add__container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        grid-template-rows: 1fr;
        max-width: 1100px;
        margin: 0 auto;
    }

    .add__description,
    .add__value,
    .add__type {
        height: 70%;
        font-size: 1.7rem;
        border-radius: 30px;
    }
    .add__description {
        max-width: 650px;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .add__value {
        max-width: 250px;
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .add__type {
        max-width: 100px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .add__btn {
        font-size: 3.5rem;
        grid-column: 4/5;
        grid-row: 1/2;
    }

    .container {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: 0;
        justify-content: space-around;
    }

    .income,
    .expenses {
        width: 50%;
    }

    .income__title,
    .expenses__title {
        font-size: 2.75rem;
    }

    .item {
        font-size: 1.5rem;
        justify-content: space-between;
    }

    .item__description {
        margin-left: 20px;
    }

    .item__delete--btn {
        font-size: 2rem;
    }

    .item__percentage {
        font-size: 1rem;
    }
    .item:hover .item__value { transform: translateX(-20px); }
    .item:hover .item__percentage { transform: translateX(-20px); }
}

@media (min-width: 1024px) {

    .income,
    .expenses {
        width: 45%;
        max-width: 700px;
    }

    .item__description {
        margin-left: 50px;
    }

    .item__delete--btn {
        margin-right: 20px;
    }

}