/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #555;
    position: relative;
    height: 100vh;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.right { 
    display: flex; 
}
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 45vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.budget {
    margin: auto;
    height: 100%;
    width: 90%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.budget__title {
    font-size: 4.7rem;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget__value {
    font-weight: 300;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
    height: 200px;
    font-size: 4rem;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 100px;
}

.budget__income {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budget__expenses {
    background-color: #FF5049;
}

.budget__income--text,
.budget__expenses--text {
    font-size: 3rem;
    color: #444;
    margin: auto 0;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 3px;
    margin: auto;
}

.budget__income--percentage,
.budget__expenses--percentage {
    font-size: 2.5rem;
    padding: 3px;
    margin: auto;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    height: 20vh;
}

.add__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    height: 100%;
}

.add__type {
    border-radius: 20px;
    border: 1px solid #e7e7e7;
    font-size: 4rem;
    text-indent: 2rem;
    color: inherit;
    background-color: #fff;
    font-weight: 300;
    transition: border 0.3s;
    text-align: center;
    width: 75%;
    height: 80%;
    margin: auto;
    grid-column: 1/2;
    grid-row: 2/3;
}

.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 4rem;
    border-radius: 20px;
    transition: border 0.3s;
    text-align: center;
    margin: auto;
    width: 75%;
    height: 80%;
}

.add__description { 
    grid-column: 1/4;
    grid-row: 1/2;

}

.add__value { 
    grid-column: 2/3;
    grid-row: 2/3;
}

.add__btn {
    font-size: 6.5rem;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    grid-column: 3/4;
    grid-row: 2/3;
}

.add__btn:active { transform: translateY(2px); }

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus { outline: none; }

/***** LISTS *****/
.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 60px 0;
    font-size: 4rem;
}
.income,
.expenses {
    margin: 60px 0;
}


h2 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
}

.income__title { 
    color: #28B9B5;
    text-align: center;
}

.expenses__title { 
    color: #FF5049;
    text-align: center;
}

.item {
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 5px 0;
}

.item__delete {
    margin: auto 0;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__value {
    transition: transform 0.3s ease;
}

.item__percentage {
    margin: auto 0 auto 20px;

    transition: transform 0.3s;
    font-size: 2rem;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
}

.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}

.item__delete--btn {
    font-size: 4rem;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block;}
.item:hover .item__value { transform: translateX(-50px); }
.item:hover .item__percentage { transform: translateX(-50px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }


/* @media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }

    .income,
    .expenses {
        margin: 0 auto 75px;
        width: 65%;
    }
} */

@media (min-width: 768px) {
    
    .budget__title {
        font-size: 3.5rem;
    }

    .budget__value {
        font-size: 6.5rem;
    }

    .budget__income,
    .budget__expenses {
        height: 125px;
        width: 750px;
        margin: 0 auto;
        font-size: 4rem;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        text-transform: uppercase;
        border-radius: 100px;
    }
}